@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-color: #d3d3d3;
  --secondary-color: rgb(77,77,141);
  --button-color: #0C0CA5;
  --text-color: #000000;
  --border-color: #64658fb9;
  --btn-text: #f4f4f4;
  --delete-btn: rgb(192, 27, 27);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important ;
}
body{
  overflow-x: hidden !important;
}
nav{
      background-color: #ffffff;
  }

  
  .navbar-brand{
      color: var(--btn-text);
      font-size: 18px;
      font-weight: 600;
  }
  .navbar-brand img{
       width: 38px;
  }
  .nav-link{
    margin-left: 20px !important;
    color: var(--text-color) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  ul li a.sign-up{
    border: 2px solid #0C0CA5;
    border-radius: 15px;
    background-color: transparent;
    width: auto;
    font-weight: 500;
  }
   ul li a.login{
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: #0C0CA5;
    width: auto;
    font-weight: 500;
    color: #ffffff !important;
  }
 #Hero-section{
  height: 100vh;
  width: 100%;
  background: url('/Images/back.png') center;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  margin-bottom: 100px;
  color: #ffffff;
  
  }
  .Hero-overlay{
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100%;
  }
  #Hero-section h1 span{
  color: var(--button-color);
 
  }
  #Hero-section a{
    background-color: var(--button-color) ;
    border: 2px solid var(--button-color);
    padding: 18px;
    border-radius: 15px;
    margin-top: 50px ;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600 ;
  }
  #Features .card1{
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   border-radius: 10px;
   padding: 100px ;
   width: auto;
   

  }
  #Features .card1 img{
    width: 50px ;
  }
footer{
    background-color: var(--btn-text);
    color: var(--text-color) !important;
  }
  footer img{
    width: 60px;
  }
  footer h5 {
   
    color: var(--text-color)!important ;
    font-weight: 500 !important  ;
    font-size: 18px!important ;
    text-align: left;
  }
  footer a {
   
    color: var(--text-color)!important ;
    font-weight: 400 !important  ;
    font-size: 16px!important ;
  }